<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Profile</title>
</head>
<body>
    <div>
        <form action="/createprofiles" method="POST" enctype="application/x-www-form-urlencoded">
        <h4 id="cA">User Registration</h4>
        <p>Please provide your details to sign up for Kindling</p>
        <input id="firstName" type="text" placeholder="firstName" value=""  name= "firstName" required/>
        <input id="lastName" type="text" placeholder="lastName" value=""  name= "lastName" required/>
        <input id="hobbies" type="text" placeholder="hobbies" value=""  name= "hobbies" required/>
        <input id="emailstore" type="text" placeholder="email" value=""  name= "job" required/>
        <button type="submit" id="rgstr_btn">Sign up</button>
    </form>
</div>
</body>
</html>